
.table{
    background-color: white;
}

.table th {
    text-align: center;
    background-color: #0056b3;
    color: white;
  }
  
  .table tbody tr {
    text-align: center;
  }
  
  .table tfoot {
    text-align: center;
    background-color: #6499E9;
  }
  
  .table tbody tr:hover {
    background-color: #E4F1FF; 
    cursor: pointer; 
  }
