* {
  margin: 0;
  padding: 0;
}

.body {
  background: #b4dcfc;
  text-align: center;
  align-items: center;
}

.logohome {
  width: auto;
  height: 60px;
}

.bvcd {
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid #b4dcfc;
  padding: 20px;
  background-color: #b4dcfc;

}

.section h1 {
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  padding-top: 30px;
  font-size: 70px
}

.search {
  text-align: center;
  align-items: center;
  margin: 20px 0px;
}

.bookh {
  font-size: 25px;
}

.grid-containervocab {
  display: grid;
  border-radius: 25px;
  background-color: #95cfff;
  padding: 30px;
  margin: 10px 20px;
}

.grid-containerdetail {
  display: grid;
  border-radius: 25px;
  background-color: #95cfff;
  padding: 30px;
  margin: 10px 20px;
}

.badt{
  border-radius: 25px;
  background-color: white;
}

.v-item {
  /* width: 30%; */
  display: grid;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  margin: 10px 0px;
  padding: 20px;
  font-size: 14px;
  text-align: center;
}

.v-title {
  padding-top: 10px;
  font-weight: bold;
}

.v-text {
  flex: 1;
}

.img {
  padding: 10px;
  width: 15rem
}

.tc {
  color: white;
}

.tc:hover {
  color: white;
}

.button {
  display: inline-block;
  padding: 2px 20px;
  margin: 15px 0px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4c78af;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.addV {
  text-align: end;
  margin: 10px;
  padding: 10px;
}

.leveltext {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: green;
}

.reporttext {
  padding: 10px;
  margin: 10px 0px 10px 20px;
}

.articlename{
  font-weight: bold;
  margin-top: 10px;
  padding: 20px;
}

.detailtext {
  text-align: justify;
  margin: 30px;
  border-radius: 25px;
  background-color: white;
  padding: 25px;
  font-size: 25px;
  line-height: 2.5;
}

.btn-containerr {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn1 {
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}

.btn1:hover {
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}


.highlighted {
  background-color: #73C088;
  color: #fff;
  margin: 2px;
  /* You can customize the highlighting style as needed */
}

.grid-containerq {
  display: grid;
  border-radius: 25px;
  gap: 50px 0px;
  background-color: #95cfff;
  padding: 30px;
  margin: 10px 20px;
}

.q-options {
  padding: 15px;
  margin: 15px;
  text-align: center;
}

.q-item {
  width: 70%;
  display: grid;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
  align-items: center;
  /* Center vertically within the .q-item container */
  justify-content: center;

}

.option-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0;
}

.option-container input {
  margin-right: 10px;
  /* Add some spacing between the radio input and label */
}

.option-container label {
  margin: 0;
  /* Reset margin on the label for better alignment */
}


.bigimg {
  max-width: 100%;
  height: 500px;
  margin: 20px;
}