* {
    margin: 0;
    padding: 0;
}

body {
    background: #b4dcfc;
    align-items: center;
}

section h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 30px;
    font-size: 70px
}

/* .img {
    padding: 10px;
    width: 15rem
}


.list_item{
    margin-right: 10px;
}

.list_item:hover{
    background-color: #F4F4F9;
    color: black;
    font-size: 18px;
}

.btnad{
    padding: 10px;
    margin: 15px;
   
} */
/* 
.btnt{
    font-size: 20px;
}

.buttonh{
    display: inline-block;
    padding: 2px 20px;
    margin: 15px 0px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0d6efd;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}

.buttonh:hover{
    color: #fff;
    background-color: #0b5ed7;
} */

.ac{
    background-color: #95cfff;
    padding: 30px ;
    border-radius: 25px;
    margin: 20px 20px;
}


.simg{
    width: 100% !important; 
    height: 200px !important;    
    object-fit:contain !important;
}

.boxarhover{
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
    }
  
  .boxarhover:hover{
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  }