.grid-containerE {
    border-radius: 25px;
    padding: 30px ;
    margin: 10px 20px;
}

.form-item label {
    font-weight: bold;
    margin-bottom: 5px;
}

.fgE{
    background-color: white;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 80px;
    margin: 10px 30px;
  }

.btn-containerr {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    
  }
  
.btnE{
    color: white;
    padding: 10px 20px;
    font-size: 16px;
  }
  
.btnE:hover{
    color: white;
    padding: 10px 20px;
    font-size: 16px;
  }

.fgE h2{
    text-align: center;
    padding-bottom: 10px;
}

.VocabBox{
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid #b4dcfc;
  padding: 20px;
  background-color: #95cfff;
}

.ExamBox{
  margin-top: 20px;
}

.line1{
  border: none;
  height: 1px; /* Adjust the height as needed */
  background-color: #000; /* Adjust the color as needed */
  margin: 20px 50px; 
}

.tfe{
  margin-right: 10px;
}

.v-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.vno {
  display: flex;
  flex-direction: column;
}

.no-items {
  text-align: center;
}