/* score */
.grid-containern {
    display: grid;
    border-radius: 25px;
    gap: 50px 0px;
    background-color: #95cfff;
    padding: 30px;
    margin: 10px 20px;
}

.resultscore {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    background-color: white;
    padding: 25px;
    margin: 20px 0px;
}

/* Red background for incorrect answers */
.red-background {
    border-left: solid 5px #e50e8a;
    color: black;
    background-color: #ffe5f4;
    /* text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red; */
}

/* Green background for correct answers */
.green-background {
    border-left: solid 5px #1cb890;
    color: black;
    background-color: #d5f8ef;
    /* text-shadow: -0.3px 0 green, 0 0.3px green, 0.3px 0 green, 0 -0.3px green; */
}

.q-options {
    padding: 15px;
    margin: 15px;
    text-align: center;
}

.q-item {
    width: 70%;
    display: grid;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    align-items: center;
    /* Center vertically within the .q-item container */
    justify-content: center;

}

.option-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0;
}

.option-container input {
    margin-right: 10px;
    /* Add some spacing between the radio input and label */
}

.option-container label {
    margin: 0;
    /* Reset margin on the label for better alignment */
}