/* 
.input-wrapper {
  background-color: white;
  width: 75%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 5px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;

}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

input:focus{
  outline: none;
}

#search-icon{
  color: royalblue;
} */

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.search-inner {
  display: flex;
  align-items: center;
}

input.form-control {
  width: 700px; /* Adjust the width as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}