.buttonadd {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 50px;
    margin: 40px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    position: absolute;
    right: 20px;
}

.hbook {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 30px;
    font-size: 70px
}