.logoone {
    padding: 50px 0px ;
    margin: 30px 520px;
}

a.btone {
    background-color: #4f75b7;
    border: none;
    color: white;
    padding: 10px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 15px;
}

.one {
    text-align: center;
    align-items: center;

}