/* .me {
    align-items: center;
    padding: 30px;
    margin: 70px 400px;
    background-color: #9bd2ff;
    border-radius: 20px;
  
  }
  
  .meimg{
    border-radius: 50%;
    width: 100px;
  } */

.container {
  padding: 50px 300px ;
  margin: 5%;
  background-color: #9bd2ff;
  border-radius: 10px;

}

.mt-5{
  padding-bottom: 30px;
}

.form-label{
  padding-top: 10px;
}
  